h1{
    font-family: 'Times New Roman', Times, serif;
    color:black;
    font-size: 50px;
    text-decoration: rgb(248, 243, 243);
    
}
h2{
    padding-top: 40px;
    font-family:'Times New Roman', Times, serif;
    color:whitesmoke;

}
#one{
    border:none;
    background:none ; 
     color:floralwhite;
     text-shadow: 0em;
     width: 140;
     font-size: 15pt;
     border-radius: 6px;
     
      
    
}
#one:hover{
    background-color:whitesmoke;
            color:black;
    text-decoration-color: black;

}
select{
    color:black;
    text-decoration-color: black;
    width: 50px;
}
p
{
color:whitesmoke;
font-family:Verdana, Geneva, Tahoma, sans-serif;
 text-decoration-color:black;
padding-left: 40px;
text-align:left;
column-rule-width: 50px;

    
}
div{
    width:400;
    height:600;
    border-radius: 6px;
    background-color:darkgrey;
}
select option{
width:40;

    text-decoration-color:blue; 
}